<div>增加東西 <input [(ngModel)]="add" type="text"><button (click)="addValue()">加加</button></div>
<h1>firebase test</h1>
<ul>
  <li class="text" *ngFor="let item of itemRefList | async">
    {{item}}
  </li>
</ul>
<button (click)="removeValue()">測試刪除</button>
<h1>fire</h1>
<h1>{{ items | async |json }}</h1>
<input type="text" #newname placeholder="Name" />
<input type="text" #newsize placeholder="Size" />
<br />
<button (click)="save(newname.value)">Set Name</button>
<button (click)="update(newsize.value)">Update Size</button>
<button (click)="delete()">Delete</button>
